{% extends "base.html" %}
<!--继承基础模板-->
{% block content %}
<!--自定义模板区域-->

<div class="d-flex justify-content-around flex-wrap flex-column bd-highlight" style="height: 80vh;width: 100vh;">
    <div class="bd-highlight"></div>

    <div id="notification" class="bd-highlight text-center">
        <p class="font-weight-bolder lead">您来晚了一步<br />消息已经销毁</p>
    </div>

    <div id="matchstick" class="bd-highlight">
        <img src="{{ url_for('static', filename='img/2836360b6f.png') }}" >
    </div>
</div>
{% endblock %}