<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>{% block title %}阅后即焚{% endblock %}</title>

    {% block css %}　
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% endblock %}

</head>

<body style="background: #F6F6F6">

    <div class="container" style="height:100vh">
        <div class="row align-items-center justify-content-md-center" style="height:100vh">
            {% block content %}

            {% endblock %}
        </div>

        <div class="fixed-bottom">
            {% include "footer.html" %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

</html>